main{

  // Jumbotron
  section.jumbotron{
    background-image: url("/storage/images/jumbotron.jpg");
    background-size: cover;
    padding-top: 150px;
    height: 450px;
  }

  // Main del Comics
  section.main{

  }

}
