header section.blu-line {
  background-color: #0282f9;
  height: 30px;
}

header section.blu-line .container {
  max-width: 1200px;
  margin: auto;
}

header section.blu-line .container .display-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  color: white;
  font-size: 12px;
}

header section.blu-line .container .display-right a {
  color: white;
}

header section.blu-line .container .display-right h4 {
  padding-right: 25px;
}

header section.dc-header {
  background-color: white;
  height: 100px;
}

header section.dc-header .container {
  max-width: 1200px;
  margin: auto;
}

header section.dc-header .container .header-main {
  display: flex;
  align-items: center;
  height: 100px;
}

header section.dc-header .container .header-main img {
  width: 80px;
  margin-right: 50px;
}

header section.dc-header .container .header-main ul {
  list-style-type: none;
  display: flex;
}

header section.dc-header .container .header-main ul li {
  font-size: 14px;
  font-weight: bold;
  padding: 0 18px;
}

header section.dc-header .container .header-main ul li a {
  color: #242424;
}

header section.dc-header .container .header-main ul li a:hover {
  color: #0282f9;
}

header section.dc-header .container .header-main .search-line {
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid #0282f9;
  margin-left: 20px;
}

header section.dc-header .container .header-main .search-line i {
  font-size: 15px;
}

header section.dc-header .container .header-main .search-line input {
  border: none;
  font-size: 15px;
  color: black;
  font-weight: bold;
  width: 110px;
}

main section.jumbotron {
  background-image: url("/storage/images/jumbotron.jpg");
  padding-top: 150px;
  height: 450px;
  position: relative;
}

main section.main {
  background-color: #1c1c1c;
}

main section.main .container {
  max-width: 1200px;
  margin: auto;
}

main section.main .container h1 {
  position: absolute;
  top: 547px;
  left: 340px;
  background-color: #0282f9;
  padding: 15px 20px;
  width: 300px;
  font-size: 30px;
  color: white;
}

main section.main .container .list-series {
  padding-bottom: 30px;
}

main section.main .container .list-series ul {
  display: flex;
  flex-wrap: wrap;
}

main section.main .container .list-series ul li {
  padding-top: 70px;
  width: 180px;
  margin: 0 10px;
}

main section.main .container .list-series ul li img {
  height: 200px;
  width: 180px;
}

main section.main .container .list-series ul li p {
  color: white;
  font-size: 16px;
}

main section.main .container .button-more {
  text-align: center;
  padding-bottom: 50px;
}

main section.main .container .button-more a {
  color: white;
  padding: 10px 50px;
  background-color: #0282f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

